<!---------------------------------------------------------
Start Header
----------------------------------------------------------->
<%- include("partials/header") -%>
<meta name="robots" content="noindex, nofollow">
<meta property="og:title" content="Adobo Bacon">
<meta property="og:description" content="Adobo Bacon is a personal database of recipes I've tried and have served to family and friends.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://adobobacon.com/">
<meta property="og:image" content="http://adobobacon.com/images/adobobacon-socmed-logo.png">
<meta property="og:image:secure_url" content="https://adobobacon.com/images/adobobacon-socmed-logo.png" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="600" />


<title>Adobo Bacon </title>

</head>
<body>
<%- include("partials/admin-navbar") -%>
<!---------------------------------------------------------
End Header
----------------------------------------------------------->

<div class="margin-btm-10"></div>
<div class="container">

  <div class="row header-title">
    <div class="col-md-12">
      <h3><%= recipeDetail.title %></h3>
      <p><%= recipeDetail.postedOn %></p>
    </div>
  </div>

<div class="padding-btm-30"></div>
<div class="row">
  <div class="col-md-12 summary">
    <p><%= recipeDetail.summary %></p>
  </div>
</div>
<div class="padding-btm-30"></div>

  <div class="row">
    <div class="col-md-6">
      <div class="padding-btm-60"></div>
      <img src="<%= recipeDetail.imageUrl %>" class="card-img-top recipe-page-image" alt="image of <%= recipeDetail.title %>">


    </div>
    <div class="col-md-6">
      <div class="padding-btm-60"></div>
          <%- recipeDetail.content %>
          <div class="padding-btm-30"></div>

    </div>
  </div>
  <div class="padding-btm-30"></div>
  <hr class="half-line">
<div class="row">
  <div class="col-md-6">
    <h3>Tags:</h3> <br>
    <ul class="tags-list">
      <% recipeDetail.postTags.forEach(function(item){%>
        <li class="tag-keyword">  <a class="btn btn-info" href="#"><%= item %></a> </li>
      <% });%>
    </ul>

  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Recipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <strong><label class="recipeTitle"></label></strong> ?
      </div>
      <div class="modal-footer">

        <form class="" action="/delete-recipe" method="post">
          <input type="hidden" name="recipeDeleteItem" class="hiddenValue" value="" />
         <button type="submit"  class="btn btn-danger" ><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
       </form>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.dropbtn').click(function(){
       var title = $(this).attr('title');
       var name = $(this).attr('name');
       $('.hiddenValue').val(name);
       $('.recipeTitle').text(title);
     })
   })
  </script>

  <div class="padding-btm-30"></div>
  <hr class="half-line">
<h3>Action Items:</h3> <br>
  <div class="row">
    <div class="col-md-6">
      <button type="button" name="button" title="Edit <%=recipeDetail.title %>" class="btn btn-info btn-block" onclick="window.location.href='/admin/update-recipe/<%= recipeDetail.postURL %>'">
        <i class="fa fa-pencil" aria-hidden="true"></i> Update this recipe
      </button>
    </div>

    <div class="col-md-6">
      <button type="button" class="btn btn-danger btn-block dropbtn" data-toggle="modal" data-target="#deleteModal" title="<%=recipeDetail.title %>" name="<%= recipeDetail._id %>">
       <i class="fa fa-trash" aria-hidden="true"> </i> Delete this recipe
      </button>
    </div>
  </div>



</div>
<div class="padding-btm-60"></div>
<%- include("partials/footer") -%>
