<!---------------------------------------------------------
Start Header
----------------------------------------------------------->
<%- include("partials/header") -%>
<meta property="og:title" content="Adobo Bacon | Recipes">
<meta property="og:description" content="Adobo Bacon is a personal database of recipes I've tried and have served to family and friends.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://adobobacon.com/">
<meta property="og:image" content="http://adobobacon.com/images/AdoboBacon_bg.png">
<meta property="og:image:secure_url" content="https://adobobacon.com/images/AdoboBacon_bg.png" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="800" />


<title>Adobo Bacon | Recipes</title>

</head>
<body>
<%- include("partials/navbar") -%>
<!---------------------------------------------------------
End Header
----------------------------------------------------------->

 <div class="padding-btm-60"></div>
 <div class="container">
   <div class="row">
     <div class="col-md-12 sitehead-logo">
       <img class="adobobacon-logo img-fluid" src="../images/AdoboBaconLogo-transparent.svg" alt="adobobacon logo">
     </div>
   </div>
   <div class="padding-btm-20"></div>
<%- include("partials/search-bar") %>

<div class="row">


  <%  for(let i=0; i<recipes.length; i++) { %>



    <div class="row tag-item">

          <div class="col-md-2">
          <img class="img-thumbnail" src="<%= recipes[i].imageUrl %>">
          </div>

          <div class="col-md-10">
            <h3 class="tag-list-title"><a href="/recipe/<%= recipes[i].postURL %>"><%= recipes[i].title %></a></h3>
            <hr>
            <p><small><%= recipes[i].postedOn %></small></p>
            <p class="tag-list-summary"><%= recipes[i].summary %></p>
            <a class="read-more" href="/recipe/<%= recipes[i].postURL %>" >Read More</a>
          </div>
     </div>
  <% } %>


</div>

 </div>
 <div class="padding-btm-60"></div>


<%- include("partials/footer") %>
